@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Lot MVC</h1>
    <p class="lead">A site for viewing and updating vehicles in the dealership.</p>
</div>

<h2>View the Inventory</h2>
<p>
    Autolot has the car you are looking for!  Check out our expansive inventory on the @Html.ActionLink("Inventory", "Index", "Inventory") page.
</p>
