<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="MagicEightBallServiceLib.MagicEightBallService">
				<endpoint address =""
				binding="netTcpBinding"
				contract="MagicEightBallServiceLib.IEightBall"/>
				
				<!-- Need to add this so MEX knows the address of our service -->
				<host>
					<baseAddresses>
						<add baseAddress ="net.tcp://localhost:8090/MagicEightBallService"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>