<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8090/MagicEightBallService"
                binding="netTcpBinding"
                contract="ServiceReference.IEightBall"
                name="netTcpBinding_IEightBall" />
    </client>
  </system.serviceModel>
</configuration>